.col-sm-12.py-4.d-flex.flex-column
  bomb-page-header([title]="('ROOM.TITLE' | translate) + ' #' + room.id")

  .row.mt-5.users-list-header
    span {{ ('ROOM.USERS_LIST' | translate) + ' (' + room.users.length + ')' }}
    div.d-flex.flex-column(*ngIf="!room.inGame")
      span(*ngIf="room.users.length < 2", translate) ROOM.WAITING_FOR_USERS
      span(*ngIf="room.users.length >= 2")
        | {{ ('ROOM.GAME_START_IN' | translate) + ' ' + remainingTime + ' ' + ('ROOM.SEC' | translate) }}
      button.mt-1.button-primary((click)="reportReadiness()", translate) ROOM.REPORT_READINESS
    div.d-flex.flex-column(*ngIf="room.inGame")
      span(translate) ROOM.GAME_RUNS

  div.d-flex.flex-row
    .users-box
      .row.mt-5
        .users-list
          div.d-flex.align-items-center(*ngFor="let user of room.users")
            span.dot([ngClass]="{'readyToGame': user.readyToGame}")
            span {{ user.name }}
      .row.mt-5
        button.button-primary(translate) ROOM.LEAVE_ROOM

    img(src="/assets/images/smiley-bomb.png")

  .row.legend
    span.mb-2(translate) ROOM.LEGEND
    div
      span.dot([ngClass]="{'readyToGame': true}")
      span(translate) ROOM.USER_READY
    div
      span.dot
      span(translate) ROOM.USER_NOT_READY
