@import "~styles/shared";

nav {
  background-color: $bomb-primary;
  height: 5vh;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

a, label {
  color: $bomb-primary-font !important;
  font-size: 2rem;
}

.nav-item {
  transition: all .3s;
}

.user-info {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;

  .username {
    margin-right: 2rem;
    font-weight: bold;
  }

  .logout {
    color: $bomb-yellow;
    cursor: pointer;
  }
}


