@import "~styles/shared";

nav {
  background-color: $bomb-primary;
}

a, label {
  color: white !important;
}

.nav-item {
  transition: all .3s;
}

.nav-item:hover {
  transform: translateY(-2px);
  //background-color: $bomb-primary-darker;
}

.user-icon {
  background-color: white;
  border-radius: 50%;

  width: 25px;
  height: 25px;
}

.dropdown-toggle::after {
  display: none;
}



