@import "~styles/shared";

nav {
  background-color: $bomb-primary;
  height: 5vh;
  font-size: 2rem;
}

a, label {
  color: $bomb-primary-font !important;
  font-size: 2rem;
}

.nav-item {
  transition: all .3s;
}
