@import "~styles/shared";

.result-info {
  font-size: 9rem;

  .win {
    color: $bomb-red;
  }

  .lose {
    color: $bomb-primary-dark;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .result-list {
    display: flex;
    flex-direction: column;
    font-size: 3rem;

    .user {
      font-size: 2rem;

      &.first-place {
        font-size: 2.75rem;
        color: gold;
      }

      &.second-place {
        font-size: 2.5rem;
        color: silver;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      margin-top: 30rem;
    }

    button {
      width: 20rem;
    }
  }
}
