@import "~styles/shared";
$map-size: 5;

.map {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  width: calc(77vh);
  height: calc(77vh);
  border: 1vh solid $bomb-light-light-black;

  .tiles {
    z-index: 1;

    .tile {
      width: calc(75vh / #{$map-size});
      height: calc(75vh / #{$map-size});
    }
  }

  .bomb {
    position: absolute;
    width: calc(75vh / #{$map-size});
    height: calc(75vh / #{$map-size});
    z-index: 2;
  }

  .hero {
    position: absolute;
    width: calc(75vh / #{$map-size});
    height: calc(75vh / #{$map-size});
    z-index: 3;
  }
}
