@import "~styles/shared";

.rooms-list-header {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 2rem;
}

.tile {
  margin-top: 2rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.1rem;

  width: 30rem;
  height: 15rem;
  border-radius: $border-radius;
  box-shadow: 0 .1rem .3rem 0 rgba(0, 0, 0, 0.16);
  border: solid .09rem $bomb-primary;
  background-color: $bomb-very-light-black;

  &:hover {
    background-color: $bomb-light-light-black;
  }

  &.canEntry{
    background-color: $bomb-light-black;
    .header {
      font-size: 2rem;
      font-weight: 600;
      color: $bomb-primary-very-dark-font;
    }

    .users {
      font-size: 1.2rem;
      color: $bomb-primary-very-dark-font;
    }
  }

  .header {
    font-size: 2rem;
    font-weight: 600;
    color: $bomb-primary-font;
  }

  .users {
    font-size: 1.2rem;
    color: $bomb-primary-font;
  }

  .next {
    width: 14rem;
    font-size: 1.5rem;
    color: $bomb-primary;
    cursor: pointer;
  }
}
