.col-sm-12.py-4.d-flex.flex-column
  bomb-page-header([title]="'LOBBY.TITLE' | translate")

  .row.mt-5.rooms-list-header
    span(translate) LOBBY.ROOMS_LIST
    button.ml-5.button-primary(translate, (click)="createAndEnterRoom()") LOBBY.ADD_AND_ENTRY

  .row.mt-5.justify-content-center
    div(*ngFor="let room of (rooms$ | async)")
      .row
        div.tile([ngClass]="{'canEntry': !(room.users.length < maxUsersInRoom)}")
          span.header {{ '#' + room.id }}
          div.users(*ngFor="let user of room.users")
            span {{ user }}
          span.next(*ngIf="room.users.length < maxUsersInRoom", translate, (click)="enterRoom(room.id)") LOBBY.ENTRY_ROOM
