$bomb-green: #00d800;
$bomb-very-light-green: #ceffce;

$bomb-red: #fd495c;
$bomb-very-light-red: #fddee4;

$bomb-primary: #008baa;
$bomb-primary-dark: #007896;
$bomb-primary-font: #dfdfdf;
$bomb-primary-very-dark-font: #646464;
$bomb-warning: $bomb-red;
$bomb-light-black: #111111;
$bomb-very-light-black: #181818;
$bomb-light-light-black: #202020;

$element-active-unselected-border: #979797;

$border-radius: .35rem;

// properties to override in ~bootstrap/scss/variables
$primary: $bomb-primary;
$info: $bomb-primary-font;
$light: $bomb-very-light-black;
$body-bg: black;

@import "bootstrap/overrides";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
