$bomb-primary: #008baa;
$bomb-primary-font: #dfdfdf;
$bomb-primary-darker: #84484e;
$bomb-warning: #fd495c;
$bomb-light-black: #181818;

$element-active-unselected-border: #979797;

$border-radius: .35rem;

@import "bootstrap/overrides";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
