@import "shared";
@import "fonts";
@import "button";
@import "bootstrap/overrides";
@import "bootstrap/bootstrap";

@import '~ngx-toastr/toastr-bs4-alert';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import "~@ng-select/ng-select/themes/default.theme.css";

html {
  min-height: 100%;
  font-size: 10px;
}

body {
  font-family: "Open Sans", "Open Sans", sans-serif;
  background-color: $black;
  font-size: 1.6rem;
  color: $bomb-primary-font;
}

html, body {
  height: 100%;
}

.validation-error {
  color: $bomb-warning;
  font-size: 50%;
}

.required::after {
  content: '*';
  color: $bomb-warning;
  position: absolute;
  margin-left: 5px;
  margin-top: 3px;
  z-index: 10;
}
